.CartFrame {
  margin: 0 50px 0 50px;
  .title {
    color: #3f5e49;
    font-size: 50px;
    margin: 50px 0 0 20px;
  }
  .itemWrapper {
    margin-top: 20px;
    height: 540px;
    overflow: scroll;
  }
  .amountBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .total {
      color: #3f5e49;
      font-size: 50px;
      font-weight: 700;
    }
    .totalAmount {
      color: #3f5e49;
      font-size: 40px;
      font-weight: 500;
      margin-left: 50px;
    }
    .unit {
      color: #3f5e49;
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}
