.Item {
  .itemContainer {
    width: 300px;
    height: auto;
    border: 10px solid #e9f5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .itemImage {
      width: 300px;
      height: 300px;
    }
    .itemInfo {
      background-color: #e9f5ee;
      padding-left: 10px;
      .itemName {
        font-size: 20px;
        margin-top: 10px;
      }
      .itemPrice {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}
