.Item {
  margin-bottom: 70px;
  .frontContainer {
    width: 300px;
    height: auto;
    border: 10px solid #e9f5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .itemImage {
      width: 300px;
      height: 300px;
    }
    .bottomWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #e9f5ee;
      padding-left: 5px;
      .itemInfo {
        .itemName {
          font-size: 20px;
          margin-top: 10px;
        }
        .itemPrice {
          font-size: 20px;
          margin-top: 10px;
        }
      }
      .cartIcon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
