.ItemList {
  .header {
    font-size: 50px;
    color: #3f5e49;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rowsContainer {
    margin: 50px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
